<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <ul class="ul">
            <li class="li copyright">
                © 2024-2025 Fair Dinkum Systems. ABN: 51 683 261 752
            </li>
            <li class="li">
                <a href="/" class="link">Home</a>
            </li>
            <li class="li">
                <a href="blog/" class="link">Blog</a>
            </li>
        </ul>
    </div>
</footer>
                                