<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="landing">
    <div class="container">
        <picture class="picture">
            <source media="(min-width: 601px)" srcset="/assets/images/fellows-cropped.JPG">
            <source media="(max-width: 600px)" srcset="/assets/images/fellows-cropped.JPG">
            <img decoding="async" src="/assets/images/fellows-cropped.JPG" alt="Fair Dinkum Systems Team" width="1280" height="450">
        </picture>
        <div class="content">
            <h2 class="title">Fair Dinkum Systems</h2>
            <div class="flex">
                <p class="text">
                    Revolutionizing Battery Life Prediction
                </p>
            </div>
        </div>
        <div class="content">
        <!-- <ul class="card-group">
            <li class="item">
                <picture class="icon-picture">
                    <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tool.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <div class="text-group">
                    <h3 class="h3">Battery Demand</h3>
                    <p class="item-text">
                        Global battery demand grows 33% annually, driven by electric vehicles.
                    </p>
                </div>
            </li>
            <li class="item">
                <picture class="icon-picture">
                    <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hard-hat.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <div class="text-group">
                    <h3 class="h3">Deep Learning</h3>
                    <p class="item-text">
                        Advanced algorithms optimize complex battery behavior patterns.
                    </p>
                </div>
            </li>
            <li class="item">
                <picture class="icon-picture">
                    <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/double-bed.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <div class="text-group">
                    <h3 class="h3">Lifecycle Management</h3>
                    <p class="item-text">
                        Smart software predicts battery life and optimizes performance.
                    </p>
                </div>
            </li>
            <li class="item">
                <picture class="icon-picture">
                    <img class="icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/building.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <div class="text-group">
                    <h3 class="h3">Accurate Prediction</h3>
                    <p class="item-text">
                        Precise battery life forecasting using minimal charging cycle data.
                    </p>
                </div>
            </li>
        </ul> -->
    </div>
</section>
                                