<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="team">
    <div class="container">
        <div class="content">
            <span class="topper">Our Team</span>
            <h2 class="title">Meet Our Team</h2>
            <p class="text">
                Our team of experts is dedicated to pushing the boundaries of AI and delivering innovative solutions.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <picture class="picture">
                    <img loading="lazy" decoding="async" src="/assets/images/team_images/louka_ewington-pitsos.jpg" alt="Louka Ewington-Pitsos" width="305" height="338">
                </picture>
                <div class="info">
                    <span class="name">Louka Ewington-Pitsos</span>
                    <span class="job">Chief Operating Officer</span>
                    <div class="social">
                        <a href="https://github.com/Lewington-pitsos" class="social-link" aria-label="Visit GitHub">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/Github SVG Icons.svg" alt="github" width="20" height="20">
                        </a>
                        <a href="https://www.linkedin.com/in/louka-ewington-pitsos-2a92b21a0/" class="social-link" aria-label="Visit LinkedIn">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/LinkedIn SVG Icons.svg" alt="linkedin" width="20" height="20">
                        </a>
                    </div>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img loading="lazy" decoding="async" src="/assets/images/team_images/michael_reitzenstein.jpg" alt="Michael Reitzenstein" width="305" height="338">
                </picture>
                <div class="info">
                    <span class="name">Michael Reitzenstein</span>
                    <span class="job">Principle Data Scientist</span>
                    <div class="social">
                        <a href="https://github.com/reitzensteinm" class="social-link" aria-label="Visit GitHub">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/Github SVG Icons.svg" alt="github" width="20" height="20">
                        </a>
                        <a href="https://www.linkedin.com/in/michael-reitzenstein-5528024" class="social-link" aria-label="Visit LinkedIn">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/LinkedIn SVG Icons.svg" alt="linkedin" width="20" height="20">
                        </a>
                    </div>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img loading="lazy" decoding="async" src="/assets/images/team_images/goh.png" alt="Victor Goh" width="305" height="338">
                </picture>
                <div class="info">
                    <span class="name">Victor Goh</span>
                    <span class="job">Research Scientist</span>
                    <div class="social">
                        <a href="https://github.com/victorwkb" class="social-link" aria-label="Visit GitHub">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/Github SVG Icons.svg" alt="github" width="20" height="20">
                        </a>
                        <a href="https://www.linkedin.com/in/victorgohkb/" class="social-link" aria-label="Visit LinkedIn">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/LinkedIn SVG Icons.svg" alt="linkedin" width="20" height="20">
                        </a>
                    </div>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img loading="lazy" decoding="async" src="/assets/images/team_images/alan_huynh.jpg" alt="Alan Huynh" width="305" height="338">
                </picture>
                <div class="info">
                    <span class="name">Alan Huynh</span>
                    <span class="job">Machine Learning Engineer</span>
                    <div class="social">
                        <a href="https://github.com/hdmquan" class="social-link" aria-label="Visit GitHub">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/Github SVG Icons.svg" alt="github" width="20" height="20">
                        </a>
                        <a href="https://www.linkedin.com/in/hdmquan" class="social-link" aria-label="Visit LinkedIn">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/LinkedIn SVG Icons.svg" alt="linkedin" width="20" height="20">
                        </a>
                    </div>
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <img loading="lazy" decoding="async" src="/assets/images/team_images/lucas_rose-winters.jpg" alt="Lucas Rose-Winters" width="305" height="338">
                </picture>
                <div class="info">
                    <span class="name">Lucas Rose-Winters</span>
                    <span class="job">Backend Developer</span>
                    <div class="social">
                        <a href="https://github.com/paperboygold" class="social-link" aria-label="Visit GitHub">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/Github SVG Icons.svg" alt="github" width="20" height="20">
                        </a>
                        <a href="https://www.linkedin.com/in/lucas-rose-winters-b7834a239/?originalSubdomain=au" class="social-link" aria-label="Visit LinkedIn">
                            <img class="social-img" loading="lazy" decoding="async" src="/assets/svgs/LinkedIn SVG Icons.svg" alt="linkedin" width="20" height="20">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
                                