/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #landing {
    /* account for nav height (65px) plus some spacing */
    padding-top: 5.3125rem;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #landing p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  #landing ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  #landing .alltext {
    text-align: left;
    padding: 0 20px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  #landing .alltext li {
    margin-left: 40px;
    margin-bottom: 20px;
  }
  #landing .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #landing .content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    /* 40px - 52px */
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #landing .flex {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #landing .title {
    /* 39px - 61px */
    font-size: clamp(2.438rem, 5vw, 3.813rem);
  }
  #landing .title-secondary {
    /* 28px - 40px */
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: left;
  }
  #landing .text {
    margin-bottom: 1.25rem;
  }
  #landing .picture {
    width: 100%;
    /* 280px - 510px */
    height: clamp(0rem, 47.466vw, 25.81875rem);
    /* 16px - 20px */
    margin-bottom: clamp(1rem, 2vw, 1.25rem);
    display: block;
    position: relative;
  }
  #landing .picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2.5rem;
    position: absolute;
  }
  #landing .card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #landing .item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 12;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
  }
  #landing .item:hover {
    border-color: var(--primary);
  }
  #landing .item:hover .h3 {
    color: var(--primary);
  }
  #landing .item:hover .icon {
    transform: rotateY(360deg);
  }
  #landing .icon-picture {
    margin-bottom: 1.25rem;
    perspective: 700px;
    transform-style: preserve-3d;
  }
  #landing .icon {
    width: 2.5rem;
    height: auto;
    display: block;
    transition: transform 0.5s;
  }
  #landing .h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #landing .item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #landing .text {
    font-size: 1.25rem;
  }
  #landing .item {
    text-align: left;
    margin: 0;
    align-items: flex-start;
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #landing .content {
    display: flex;
    flex-direction: column;
  }
  #landing .title {
    max-width: 46.875rem;
  }
  #landing .item {
    grid-column: span 3;
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #landing .title {
    margin: 0;
  }
  #landing .container {
    flex-direction: column;
  }
  #landing .content {
    text-align: left;
    max-width: 80rem;
    gap: 1.25rem;
    flex-direction: row;
    align-items: flex-start;
  }
  #landing .flex {
    width: 50%;
    max-width: 39.375rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #landing {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #landing .title, body.dark-mode #landing .text, body.dark-mode #landing .h3, body.dark-mode #landing .item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #landing .text, body.dark-mode #landing .item-text {
    opacity: 0.8;
  }
  body.dark-mode #landing .item {
    background-color: var(--medium);
  }
  body.dark-mode #landing .icon {
    filter: invert(1) brightness(1000%);
  }
}

/*# sourceMappingURL=critical.css.map */
