/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #landing-content {
    padding: var(--sectionPadding);
  }
  #landing-content .container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #landing-content .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #landing-content .topper {
    color: var(--headerColor);
  }
  #landing-content .text {
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-bottom: 1rem;
  }
  #landing-content .text:last-of-type {
    margin-bottom: 2rem;
  }
  #landing-content .color {
    color: var(--accent);
  }
  #landing-content .h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 3vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    /* 16px - 20px */
    margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
    color: var(--headerColor);
  }
  #landing-content .ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
  }
  #landing-content .li {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 1.25rem;
  }
  #landing-content .icon {
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
  }
  #landing-content .picture {
    /* changes at tablet */
    width: 100%;
    max-width: 39.375rem;
    /* changes to a clamp at tablet */
    height: 24.75rem;
    display: block;
    position: relative;
  }
  #landing-content .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #landing-content .container {
    max-width: 80rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  #landing-content .picture {
    width: 46vw;
    position: relative;
    height: auto;
  }
  #landing-content .picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #landing-content .content {
    width: 45%;
    max-width: 32.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #landing-content .topper {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #landing-content .color {
    color: var(--accent);
  }
  body.dark-mode #landing-content .title,
  body.dark-mode #landing-content .text,
  body.dark-mode #landing-content .h3,
  body.dark-mode #landing-content .li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #landing-content .icon {
    filter: brightness(150%);
  }
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #result {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #result .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 53.125rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* 48px - 108px */
    gap: clamp(3rem, 5vw, 6.75rem);
  }
  #result .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* sends it to the bottom in the 2nd position */
    order: 2;
  }
  #result .title {
    max-width: 20ch;
  }
  #result .text {
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-bottom: 1rem;
  }
  #result .text:last-of-type {
    margin-bottom: 2rem;
  }
  #result .button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    border: none;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #result .button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #result .button-solid:hover {
    color: #fff;
  }
  #result .button-solid:hover:before {
    width: 100%;
  }
  #result .picture {
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
    order: 2;
    position: relative;
    z-index: 1000;
    box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.2);
  }
  #result .picture img {
    width: 100%;
    height: auto;
    display: block;
  }
  #result .background {
    width: 100%;
    height: 50%;
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #result .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #result .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  #result .flex {
    width: 45%;
  }
  #result .title {
    margin: 0;
  }
  #result .button-solid {
    margin-right: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #result {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);
  }
  #result .container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #result .content {
    width: 100%;
    max-width: 27.0625rem;
    margin: 0;
    flex-direction: column;
    row-gap: 0;
    order: 1;
  }
  #result .flex {
    width: 100%;
  }
  #result .title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #result .text {
    width: 100%;
  }
  #result .picture {
    max-width: 46.125rem;
  }
  #result .background {
    width: 60vw;
    height: 100%;
    /* 172px - 336px */
    margin-left: clamp(11.125rem, 30vw, 21rem);
    left: 50%;
    top: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #result .title,
  body.dark-mode #result .text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #result .background {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #team {
    padding: var(--sectionPadding);
  }
  #team .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #team .content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #team .card-group {
    width: 100%;
    /* changes at tablet */
    max-width: 25.8125rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.8vw, 1.25rem);
    position: relative;
  }
  #team .item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 12;
    position: relative;
  }
  #team .picture {
    width: 100%;
    min-height: 18.75rem;
    /* removed at tablet */
    aspect-ratio: 1.1714285714;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #team .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #team .info {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    padding: clamp(1.25rem, 2vw, 1.5rem);
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  #team .name {
    text-align: inherit;
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
  }
  #team .job {
    text-align: inherit;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: var(--bodyTextColor);
    display: block;
  }
  #team .social {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  #team .social-link {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  #team .social-link:hover {
    transform: translateY(-3px);
  }
  #team .social-img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #team .card-group {
    max-width: 100%;
    align-items: stretch;
  }
  #team .item {
    max-width: 100%;
    grid-column: span 6;
  }
  #team .picture {
    height: 100%;
    /* 280px - 350px, resets at desktop */
    min-height: clamp(17.5rem, 33vw, 21.875rem);
    background-color: #000;
    overflow: hidden;
    aspect-ratio: initial;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #team .container {
    max-width: 80rem;
  }
  #team .item {
    grid-column: span 3;
  }
  #team .info {
    margin-top: -3.75rem;
  }
  #team .picture {
    /* 245px - 338px */
    height: clamp(15.3125rem, 27vw, 21.125rem);
    min-height: 15.3125rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #team .title,
  body.dark-mode #team .text,
  body.dark-mode #team .name,
  body.dark-mode #team .job {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #team .job {
    opacity: 0.8;
  }
  body.dark-mode #team .info {
    background-color: var(--medium);
  }
  body.dark-mode #team .social {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

/*# sourceMappingURL=local.css.map */
