---
title: 'Advanced Battery Modelling | Fair Dinkum Systems | Melbourne, VIC'
description: 'Fair Dinkum Systems is a software company that develops advanced battery modelling software for the automotive industry.'
preloadImg: '/assets/images/fellows-cropped.JPG'
permalink: '/'
tags: 'sitemap'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
{% include "components/landing.html" %}
{% include "components/landing_content.html" %}
{% include "components/result.html" %}
{% include "components/team.html" %}
{% endblock %}