/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #landing {
        // padding: var(--sectionPadding);
        /* account for nav height (65px) plus some spacing */
        padding-top: calc(85/16 * 1rem);
        padding-bottom: 20px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
        }

        ol {
            display: block;
            list-style-type: decimal;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            unicode-bidi: isolate;
        }

        .alltext {
            text-align: left;
            padding: 0 20px;
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
            padding-bottom: 40px;
        }
        
        .alltext li {
            margin-left: 40px;
            margin-bottom: 20px;
        }

        .container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* 40px - 52px */
            // margin-bottom: clamp(2.5rem, 5vw, 3.25rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .flex {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .title {
            /* 39px - 61px */
            font-size: clamp(2.438rem, 5vw, 3.813rem);
        }

        .title-secondary {
            /* 28px - 40px */
            font-size: clamp(1.75rem, 3vw, 2.5rem);
            font-weight: normal;
            margin-bottom: 1rem;
            text-align: left;
        }

        .text {
            margin-bottom: calc(20/16 * 1rem);
        }

        .picture {
            width: 100%;
            /* 280px - 510px */
            height: clamp(0rem, 47.466vw, 25.81875rem);
            /* 16px - 20px */
            margin-bottom: clamp(1rem, 2vw, 1.25rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: calc(40/16 * 1rem);
                position: absolute;
            }
        }

        .card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .item {
            text-align: center;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #F7F7F7;
            border-radius: calc(20/16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: border-color 0.3s;

            &:hover {
                border-color: var(--primary);

                .h3 {
                    color: var(--primary);
                }

                .icon {
                    transform: rotateY(360deg);
                }
            }
        }

        .icon-picture {
            margin-bottom: calc(20/16 * 1rem);
            perspective: 700px;
            transform-style: preserve-3d;
        }

        .icon {
            width: calc(40/16 * 1rem);
            height: auto;
            display: block;
            transition: transform 0.5s;
        }

        .h3 {
            font-size: calc(20/16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            margin-bottom: calc(12/16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #landing {
        .text {
            font-size: calc(20/16 * 1rem);
        }

        .item {
            text-align: left;
            margin: 0;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #landing {
        .content {
            display: flex;
            flex-direction: column;
        }

        .title {
            max-width: calc(750/16 * 1rem);
        }

        .item {
            grid-column: span 3;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #landing {
        .title {
            margin: 0;
        }

        .container {
            flex-direction: column;
        }

        .content {
            text-align: left;
            max-width: calc(1280/16 * 1rem);
            gap: calc(20/16 * 1rem);
            flex-direction: row;
            align-items: flex-start;
        }

        .flex {
            width: 50%;
            max-width: calc(630/16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #landing {
            background-color: rgba(0, 0, 0, 0.2);

            .title, .text, .h3, .item-text {
                color: var(--bodyTextColorWhite);
            }

            .text, .item-text {
                opacity: 0.8;
            }

            .item {
                background-color: var(--medium);
            }

            .icon {
                filter: invert(1) brightness(1000%);
            }
        }
    }
}
                                