/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
    #footer {
        padding: calc(40/16 * 1rem) calc(16/16 * 1rem);
        background: #1a1a1a;

        .container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
        }

        .ul {
            padding: 0;
            margin: auto;
            display: flex;
            /* make flexbox arrange top to bottom */
            flex-direction: column;
            align-items: center;
            gap: calc(20/16 * 1rem);
        }

        .li {
            list-style: none;
            text-align: center;
            margin: 0;
        }

        .copyright {
            font-size: calc(15/16 * 1rem);
            line-height: 1.5em;
            margin-top: calc(20/16 * 1rem);
            color: #a0a3bd;
            display: block;
            /* send to first position at the bottom */
            order: 1;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .link {
            /* 15px - 17px */
            font-size: clamp(0.9375rem, 2vw, 1.0625rem);
            line-height: 1.5em;
            text-decoration: none;
            font-weight: 700;
            color: var(--bodyTextColorWhite);
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* top right box */
                content: "";
                width: 0%;
                height: calc(3/16 * 1rem);
                background: var(--bodyTextColorWhite);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2/16 * 1rem);
                left: 0;
                transition: width 0.3s;
            }
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #footer {
        .ul {
            flex-direction: row;
            /* push everything to the left */
            justify-content: flex-start;
            /* 44px - 88px */
            // gap: clamp(2.75rem, 7vw, 5.5rem);
        }

        .copyright {
            /* marign auto on the left pushes away from the rest of the flex children */
            margin: 0 0 0 auto;
            /* send to the right most position */
            order: 2;
        }
    }
}
                                